:root {
  --color-0: #ffffff; /* */
  
  --color-1: #ffffff; /* */
  --color-2: #101046; /* */
  --color-3: black; /* 메인 컬러 */
  --color-4: #FF531A; /* 서브 컬러 */
  --color-5: #DC143C; /* */
  --color-6: #FF4000;
  

  /* 꽁게더 타이틀 */
  --logo-URL: url("https://verimea.github.io/Ggongbless_Xmas/source/GgongLogo.png");
  --logo-Width: 158px;
  --logo-Height: 50px;
  --logo-size-mobile: 90px 32px;

  /* 접속자 */
  --icon-URL: url("https://verimea.github.io/Ggongbless_Xmas/source/Icon.png");
  --pre-comment: "산타꽁치가 ";
  --sub-comment: "명의 엘프노예들을 환영합니다!";

  /* 위로가기 버튼 */
  --up-URL: url("https://verimea.github.io/Ggongbless_Xmas/source/GoUp.png");

  /* 마우스 커서 */
  --cursor-URL: url("https://verimea.github.io/Ggongbless_Xmas/source/Cursor.png");
}
