/* ν•λ‹¨ ν‘Έν„° */
footer {
    position:relative;
    font-size:12px;
    background:#353535;
    padding:10px 0;
    border-top:1px solid rgba(0,0,0,.15);
    margin-top:10px;
}
footer .container {
    max-width:none !important;
    width:1100px;
    height:55px;
    background:url('https://i.imgur.com/DsLV399.png') 0 -330px no-repeat;
    color:transparent;
    font-size:0;
}
footer a {
    display:inline-block;
    float:right;
    width:61px;
    height:61px;
    background:url('https://i.imgur.com/DsLV399.png') -420px -265px no-repeat;
    opacity:.5;
}
footer a[href*="mobile"]{background-position:-480px -265px;}
footer a[href*="support"]{background-position:-700px -265px;}
footer a[href*="adcontact"]{background-position:-420px -265px;}
footer a[href*="ejnkr/apply"]{background-position:-535px -265px;}
footer a[href*="privacy"]{background-position:-591px -265px;}
footer a[href*="policy"]{background-position:-647px -265px;}
footer a:hover, footer a:focus{opacity:1;}